.section {
    margin: 30px 0;
    .section-title {
        color: var(--main-color);
        font-size: 22px;
        font-weight: bold;
    }
    .view-more {
        font-style: italic;
        font-size: 14px;
        color: var(--green);
    }
}

.form-wrapper {
    position: relative;
    min-width: 500px;
    background-color: #FFF;
    border-radius: 4px;
    max-width: 100%;
    padding: 50px 35px;
    margin: auto;
    overflow: hidden;
    .el-input {
      display: inline-block;
      height: 50px;
      width: 100%;
      input {
          background: transparent;
          font-size: 16px;
          line-height: 16px;
          -webkit-appearance: none;
          border-radius: 0px;
          padding: 12px 5px 12px 40px;
          height: 50px;
          color: #000;
          border-radius: 4px;
  
          &:-webkit-autofill {
            box-shadow: 0 0 0px 1000px transparent inset !important;
            -webkit-text-fill-color: #000 !important;
          }
      }
    }
  
    .el-form-item {
      border-radius: 4px;
      color: #454545;
      margin-bottom: 30px;
    }
    .link-direction {
      justify-content: space-between;
      color: var(--main-color);
      font-size: 14px;
    }
    .svg-container {
      padding: 6px 5px 6px 15px;
      color: var(--dark-gray);
      vertical-align: middle;
      position: absolute;
      width: 30px;
      display: inline-block;
      z-index: 1;
    }
}
.dropdown-header-menu {
  top: 35px !important;
  overflow: unset;
}
.box-shadow {
  box-shadow: 2px 3px 5px rgba(0,0,0,.5);
}
.block-shadow {
  box-shadow: 2px 3px 5px rgba(0,0,0,.5);
}
.timestamp {
  color: var(--dark-gray);
  font-size: 12px;
}
.VueCarousel-navigation-button {
  font-size: 35px !important;
  background-color: rgba(0,0,0,.6) !important;
  border-radius: 4px;
  padding: unset !important;
  color: #fff !important;
}
button.VueCarousel-navigation-next {
  right: 70px !important;
}
button.VueCarousel-navigation-prev {
  left: 60px !important;
}
.el-menu-item i {
  color: inherit;
}
.app-form {
  background: var(--dark-blue);
  input {
    color: #fff !important;
  }
}
.border-white {
  border: 1px solid #fff;
}
.space-around {
  justify-content: space-around;
}
.active-bg {
  background: #ebf3b3;
}
.main-bg {
  background: var(--dark-blue);
}
.block {
  position: relative;
  border: 3px solid transparent;
  color: #fff;
  .actions {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: 0.2s all ease-in-out;
    font-size: 18px;
    .fa { margin-left: 10px;}
    .fa-trash-o {
        color: var(--red)
    }
    .fa-pencil-square-o {
        color: var(--main-color)
    }
  }
  &:hover {
    .actions {
        display: inline;
      }
  }
}
.turn-on {
  border: 3px solid var(--main-color);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(5, 136, 203, .6);
  color: var(--main-color);
}
.el-checkbox__inner {
  height: 17px;
  width: 17px;
  &:after {
    left: 6px;
    height: 10px;
  }
}
.bg-white {
  background: #fff;
}
.bg-light {
  background: var(--bg-light);
  border-radius: 10px;
  padding: 30px;
  @media screen and (max-width: 767px){
    padding: 15px;
  }
}
.small-text {
  font-size: 12px;
}
#driver-highlighted-element-stage {
  background: var(--dark-blue) !important;
}