@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './common.scss';
@import './font-awesome.css';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: myriad-pro, Helvetica;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/living-room.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active,
a:visited {
  outline: none;
  color: unset;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}
.app-link, .app-link a {
  color: $main;
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
.flex {
  display: flex;
}
.main-text{
  color: $main;
}
.m-auto {
  margin: auto
}
.header-success {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  background: $green;
  padding: 10px;
}

.d-none {
  display: none;
}
.p-15 {
  padding: 15px;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
.p-10 {
  padding: 10px;
}
.m-0 {
  margin: 0;
}
.mt-0 {
  margin-top: 0;
}
.m-15 {
  margin: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.mr-15 {
  margin-right: 15px;
}
.m-10 {
  margin: 10px;
}
.align-center {
  text-align: center;
}
.space-between {
  justify-content: space-between;
}
.underline {
  text-decoration: underline;
}
.text {
  color: var(--main-color)
}
.box {
  border-radius: 10px;
  background: var(--bg);
}
.dark-box {
  border-radius: 10px;
  background: var(--dark-blue);
}
.white-text {
  color: #fff
}
.show {
  display: block
}
.dark-text {
  color: var(--grey);
}
.align-left {
  text-align: left;
}
.inline-block {
  display: inline-block;
}
.dialog-w-50 .el-dialog {
  width: 50%;
}
.uppercase {
  text-transform: uppercase;
}
@import './responsive.scss';