.block {
    position: relative;
    cursor: pointer;
    min-height: 150px;
    margin-right: 15px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: var(--white);
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
    .room-icon {
        margin: auto;
        max-width: 100px;
        max-height: 70px;
        margin-bottom: 10px;
    }
    &:hover {
        .actions {
            display: inline;
        }
    }
}
.grid {
    .title, .infor-bottom {
        font-size: 20px;
    }
}